apiVersion: apps/v1
kind: Deployment
metadata:
  name: order-service
  namespace: assessment
spec:
  replicas: 1
  selector:
    matchLabels:
      app: order-service
  template:
    metadata:
      labels:
        app: order-service
    spec:
      containers:
        - name: order-service
          image: SEU_USUARIO_DOCKER/order-service:1.0
          ports:
            - containerPort: 8082
          env:
            - name: SPRING_PROFILES_ACTIVE
              value: default