apiVersion: apps/v1
kind: Deployment
metadata:
  name: postgres
  namespace: assessment
spec:
  replicas: 1
  selector:
    matchLabels:
      app: postgres
  template:
    metadata:
      labels:
        app: postgres
    spec:
      containers:
        - name: postgres
          image: postgres:15-alpine
          env:
            - name: POSTGRES_DB
              value: catalogdb
            - name: POSTGRES_USER
              value: catalog
            - name: POSTGRES_PASSWORD
              value: catalog
          ports:
            - containerPort: 5432